/* Reset de estilos */
* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    background-image: url('../imagenes/fondoB.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esto mantiene el fondo fijo */
}

main {
    flex: 1;
}

html {
    scroll-behavior: smooth;
}

/* Estilo para el nav cuando se haya desplazado hacia abajo */
/* Estilo cuando el nav ha cambiado de posición */

/* Estilos del encabezado */
header {
    height: 154px;
    background-image: url('../imagenes/fondoA.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    font-weight: lighter;
}

nav {
    height: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #9cbbf5e0;
}

/* Estilos de la barra de navegación */
nav a {
    border: 2px black; /* Borde inicial transparente */
    font-weight: bold;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: background 0.2s ease-in-out;
}

nav a:hover {
    background: #3d3f4938;
}

/* Estilos para los contenedores principales */
.contenedor-principal {
    margin: 20px 40px;
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

#habilidades, #estudios, #experiencia, #linkedin-section {
    padding: 40px 20px;
    margin: 20px auto; /* Cambiado para centrar horizontalmente */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%; /* Asegura que las secciones ocupen todo el ancho en dispositivos pequeños */
}

#habilidades, #estudios, #experiencia, #linkedin-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para las listas de habilidades */
#habilidades, #estudios, #experiencia, #linkedin-section ul {
    list-style-type: none;
}

#habilidades, #estudios, #experiencia, #linkedin-section ul li {
    font-size: 1.2rem;
    color: #555;
}

#habilidades, #estudios, #experiencia, #linkedin-section ul li strong {
    font-weight: bold;
}

/* Estilos para "Sobre mí" y "Ejemplos" */
#sobre-mi, #ejemplos {
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#sobre-mi .imagen-perfil {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    border-radius: 50%;
}

#sobre-mi .img, #ejemplos img {
    width: 220px;
    transition: transform 0.3s ease;
    margin-bottom: 7px;
}

#sobre-mi .img:hover {
    transform: scale(1.1);
    box-shadow: #333;
}

#sobre-mi p {
    font-size: 1.2rem;
    color: #555;
    text-align: justify;
}

/* Estilos para el contenedor de las secciones centrales */
.contenedor-secciones-centrales {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: space-around;
    align-items: stretch;
}

/* Estilos para las secciones centrales */
.contenedor-secciones-centrales > section {
    width: 100%; /* Hace que las secciones ocupen todo el ancho disponible */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 10px 0;
}

/* Estilos de contacto */
.contacto {
    width: fit-content;
    margin: 20px auto;
    text-align: left;
}

.contacto .info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contacto .info img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Estilos de botones */
.boton-enlace, .text {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7c378d;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}

.boton-enlace:hover, .text:hover {
    background-color: #ec5656;
}

/* Estilos del pie de página */
footer {
    background-color: rgba(255, 0, 0, 0.116);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* Estilos para las palabras dentro de los cuadros */
.cuadro {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #7a7a7a;
    margin: 5px;
    font-size: 1rem;
    text-align: center;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Asegura que los elementos se apilen de arriba hacia abajo */
    body, main, .contenedor-principal, .contenedor-flex {
        display: block; /* Establece una estructura en bloque */
        background-image: url('../imagenes/fondoB-movil.png');
    }

    nav {
        flex-direction: row; /* Asegura que sigan en fila en móviles */
        height: auto;
    }

    nav a {
        flex: none; /* Los enlaces no se expanden */
        width: auto; /* No ocupan todo el ancho */
        padding: 15px;
        font-size: 0.8rem;
    }
    .contenedor-flex {
        flex-direction: column; /* Cambia la dirección de flex a columna */
        gap: 15px;
    }

    #habilidades, #estudios, #experiencia, #linkedin-section, #sobre-mi, #ejemplos {
        width: 100%; /* Las secciones ocupan todo el ancho */
        margin: 10px 0; /* Reduce el margen para evitar huecos */
        padding: 20px; /* Ajusta el padding */
    }

    footer {
        font-size: 0.9rem; /* Reduce el tamaño del pie de página en pantallas pequeñas */
    }
}
